@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.logo{
  font-family: 'Burbank Big Condensed' ; 
 }

nav{
  font-family: 'Roboto', sans-serif;
  background-color: #212529;
}
#nav-link h6 {
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.footerlogo{
  font-family:Burbank Big Condensed;  
}

.footer{
  padding-top:55px;
  color:white;
  background: url(footer.jpg) ;
  clear: both;
  background-repeat: round;
}
.rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  flex-wrap: wrap;
  padding: 10px;
  
  
}
.rows div{

  width: 400px;
  display: flex;
  
  
}
.rows div h1 , .rows div p {
  margin: 5px auto;
}

@media (max-width: 1221px) {.rows div{
 width: 60%;
flex-wrap: wrap;
justify-content: center;
}
.rows div h1 , .rows div p {
  margin: 10px 0px 0px 0px;
}
.rows div h1{
  margin-top: 20px;
  margin-bottom: 10px;
}

}

.titulli{
  font-size:25px; 
  margin-top:60px;
}
@media (max-width: 768px) {.titulli{

font-size:18px; 

}}
.speci{
  width:300px;
  height:220px;
  margin-left:6%;
}

#prov{
  background: url('back.png');
  height: 75vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.banner {
  display: inline-block;
  margin-top: 9%;
  font-family: 'Satisfy', cursive;
  color:lightgray;
}

.res-circle {
	  
  border-radius:50%;
    line-height: 0;
border:2px solid #0EA59C;
   background-color:#fbfbfb;
    /* NECESSARY FOR TEXT */
position:relative;
    
  }
  .res-circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .circle-txt {
  margin-left:24%;
   
    position: absolute;
margin-top:25%;
    width: 50%;
  }

  .boss{
	  width:20%;
	word-wrap: break-word;
	 font-weight: bold;	
  }
    @media (max-width: 768px) {.boss{
		width: 20%;
		word-wrap: break-word;
		font-weight: bold;	
		font-size:13px;
  }}

  .rreth{
	  display: flex;
  justify-content: center;
  align-items: center;
	  margin-top:6%;
  }

  .receta-foto{
    width:100%; 
    height:300px; 
    object-fit: cover;
  }

  .section {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    margin-bottom:8%;
   }


   @media (max-width: 768px) {.section{
   
       width:94%;
     }}

     .receta-pershkrimi{
       font-size: 15px;
     }

     .whois{
      height: 400px;
      background-image:url('food5.jpg');
      background-size:full-width;
      background-position: right;
      opacity: 0.94;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
    }

   
    .whois p {
      margin: 0% 20%;
      width:40%;
      padding-top:5px;
      padding-right: 7px;
    }
   .shiko{
     font-family: Boogaloo ;
     font-size: 20px;
     font-weight: normal;
   }
    #button-b {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      border-radius: 15px;
      padding: 0.5px 10px 0.5px 10px;
      margin-top: 2px;
      font-family: 'Times New Roman';
    }
    
    #button-b:hover {
      background-color: white;
      color: black;
      opacity: 0.8;
      transition: ease-in 0.3s;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 1), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .whois2 p{
        
      
      border-radius: 5px;
      padding: 10px;
      border-radius: 2px;
      
      -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);
      -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);
      box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);
      
      
      
    }
    .whois2-img{
      width:450px;
      height:320px;
      float:left;
    }

    @media (max-width: 768px) {.whois2-img{
        width: 100%;
        height: 80%;
    }
    .whois{
      background-position: 52% ;
    }
    .whois p {
      width:60%;
      
    }
    .shiko{
      margin:0;
    }

}

.ikonat {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.fa {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 7px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color :rgb(23, 173, 223);
    text-decoration: none;
}

.fa-facebook {
  background: transparent;
  border: 2px solid white;
  color: white;
  
}

.fa-instagram {
  
  background: transparent;
  border: 2px solid white;
  color: white;
}
.fa-twitter {
  
  background: transparent;
  border: 2px solid white;
  color: white;
}
.fa-google {
  
  background: transparent;
  border: 2px solid white;
  color: white;
}

.spec{
  width: 20%;
  float: left;
  margin-top: 4%;
  margin-left:6% ;
 }

.pershkrimi{

  width:34%;
}
.tekne{
  font-size:18px;
  margin-left:25px;
}
    @media (max-width: 768px) {.whois2 .pershkrimi{
      width:97%;
     font-size:12px;
    }
    .tekne{
      font-size:15px;
    }
    .spec{
      width: 90%;
      margin-left: 5%;
    }
    .speci-foto{
      margin-left: 5%;
     
    }
    
 }

 .sasia{
   font-size: 15px;
 }

 @media (max-width: 560px) {.banner h1{
  font-size: 150%;
}
#prov{
  height: 50vh;
}
.banner{
  margin-top: 50%;
}
}
@media (max-width: 560px) {.banner{
  margin-top: 40%;
}
.banner h4{
  font-size: 100%;
}
}
@media (max-width: 1030px) {.banner {
  margin-top: 15%;
}#prov{
  height: 50vh;
}}

@media (max-width: 768px) {.cpl h6{
  display: none;
  }
  .specialiteti{
    font-size: 20px;
    margin-top:20px;
  }
}

#prov2{
  background: url('back4.jpg');
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.features {
  margin: 1em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.fonti{
  font-family: 'Burbank Big Condensed';
}


.section {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:31%;
  margin-bottom:8%;
 }
 .rrite{
  height: 230px;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 768px) {.rrite{
  width:100%;
  height : 100%;
}
}

@media (max-width: 1024px) {.section{
 
  width:46%;
}}
@media (max-width: 768px) {.section{
 
  width:94%;
}}
.produktet{
  margin-left: 15px;
  font-size: 15px;
}
.email{
  width:14.5%;
  
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
-webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  margin: 0;
position: absolute;
left: 42.8%; 
}
.buy-image{
  margin-left: 13%;
}
.profile-image{
 width:62%; height:100%; float:left
}

.profile-data{
  width:35%; height:100%; float:right; margin-top:60px 
}
.profile{
  -webkit-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.54);
box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.54);
height:550px
}
.edit-inputs{
  padding-right: 35px;
}
.profile-image img{
  width:98%;
  height:100%; border-radius:8%
}

@media (max-width: 768px) {.produktet{
    margin: 0;
    }
    .buy-image{
      margin:3%;
    }
    .buy-form{
      margin: 3%;
    }
  .email {
    width: 46%;
    left:27%;
  }
  .profile-image{
    width:100%;
    float: none;
   }
   .profile-data{
    width:100%;float: none; text-align: center;
   }
   .profile{
     height: 100%;
   }
   .edit-inputs{
    padding: 16%
  }
  .profile-image img{
    width:100%;
  }
  }

    .main {
      background-color: #FFFFFF;
      width: 400px;
      font-family: 'Burbank Big Condensed';
      margin: auto;
      border-radius: 1.5em;
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  
  .sign {
      padding-top: 40px;
      color: #21618C ;
     
      font-weight: bold;
      font-size: 23px;
  }
  
  .un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  
  }
  
  form.form1 {
      padding-top: 40px;
  }
  
  .pass {
          width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;

  }
  
 
  .un:focus, .pass:focus {
      border: 2px solid rgba(0, 0, 0, 0.18) !important;
      
  }
  
  .submit {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right,#43cea2 , #185a9d

      );
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      
      margin-left: 35%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  
  .forgot {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: #E1BEE7;
      padding-top: 15px;
  }
  
 
  @media (max-width: 600px) {
      .main {
          border-radius: 0px;
      }
      
    }

    .confirm{
		background-color : #e50000;
		margin: 0;
		text-align:center;
		color:white;
		padding: 5px
	}
	
	.confirmbutton{
		 border: none;
  background-color: inherit;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color:white;
  }
  
  .signup-photo{
    
    margin-top: -40px;
    margin-left: 40%;
    width: 80px;
  height: 80px;

  border-radius: 50%;
  overflow: hidden;
border-color:none;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
  
  /*for demo*/
  
  vertical-align:middle;
  }


.totalamount{
    border: 0px;
    height: 30px;
    padding-left: 10px;
    display: inline-block;
    font-weight: 500;
    width: 160px;
    color: black;
}

